body {
width: 100%;
height: 20%;
}    
.menu-principal {
width: 100%;
background-color: #252323;
height: 150px;
}
main{
margin: 0 auto;
width: 100px;
position: relative;
height: 100px;
}
.daniel {
display: inline-block;    
float: left;
 padding: 16px;
 width: 150px;   
}
.redes-sociais ul li{
    display: block;
    float: rigth;
    list-style: square;
}
.redes-sociais {
width: 5%;
float: left;
height: 110px;
}